.next
**/.next
**/__pycache__/
**/node_modules/
emo/.next
./emo/node_modules
./emo/package-lock.json
./emo/package.json
./emo/tsconfig.json
./emo/tsconfig.node.json
./emo/tsconfig.app.json
./emo/tsconfig.base.json
./emo/tsconfig.json
./emo/tsconfig.node.json
./emo/tsconfig.app.json
./emo/tsconfig.base.json